In [1]:
import numpy as np
import pandas as pd

In [4]:
from nba_api.stats.static import teams

[(team['id'], team['abbreviation']) for team in teams.get_teams()]

[(1610612737, 'ATL'),
 (1610612738, 'BOS'),
 (1610612739, 'CLE'),
 (1610612740, 'NOP'),
 (1610612741, 'CHI'),
 (1610612742, 'DAL'),
 (1610612743, 'DEN'),
 (1610612744, 'GSW'),
 (1610612745, 'HOU'),
 (1610612746, 'LAC'),
 (1610612747, 'LAL'),
 (1610612748, 'MIA'),
 (1610612749, 'MIL'),
 (1610612750, 'MIN'),
 (1610612751, 'BKN'),
 (1610612752, 'NYK'),
 (1610612753, 'ORL'),
 (1610612754, 'IND'),
 (1610612755, 'PHI'),
 (1610612756, 'PHX'),
 (1610612757, 'POR'),
 (1610612758, 'SAC'),
 (1610612759, 'SAS'),
 (1610612760, 'OKC'),
 (1610612761, 'TOR'),
 (1610612762, 'UTA'),
 (1610612763, 'MEM'),
 (1610612764, 'WAS'),
 (1610612765, 'DET'),
 (1610612766, 'CHA')]

In [9]:
from nba_api.stats.endpoints import teamyearbyyearstats

temp = teamyearbyyearstats.TeamYearByYearStats(team_id='1610612764') 

temp.get_data_frames()[0]

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612764,Chicago,Packers,1961-62,80,18,62,0.225,0,5,...,0,0,0,1802,1954,0,0,0,8874,9
1,1610612764,Chicago,Zephyrs,1962-63,80,25,55,0.313,0,5,...,0,0,0,1773,2065,0,0,0,8795,8
2,1610612764,Baltimore,Bullets,1963-64,80,31,49,0.388,0,4,...,0,0,0,1423,2073,0,0,0,8948,5
3,1610612764,Baltimore,Bullets,1964-65,80,37,43,0.463,0,3,...,0,0,0,1676,2119,0,0,0,9087,2
4,1610612764,Baltimore,Bullets,1965-66,80,38,42,0.475,0,2,...,0,0,0,1890,2199,0,0,0,9465,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1610612764,Washington,Wizards,2018-19,82,32,50,0.390,11,4,...,794,2679,3473,2154,1701,683,1154,379,9350,10
58,1610612764,Washington,Wizards,2019-20,72,25,47,0.347,9,3,...,732,2295,3027,1801,1634,574,1020,309,8238,8
59,1610612764,Washington,Wizards,2020-21,72,34,38,0.472,8,3,...,697,2557,3254,1835,1555,528,1036,297,8398,3
60,1610612764,Washington,Wizards,2021-22,82,35,47,0.427,12,4,...,737,2798,3535,2052,1545,522,1077,406,8907,22
61,1610612764,Washington,Wizards,2022-23,44,18,26,0.409,12,3,...,410,1524,1934,1093,858,297,622,231,4921,23

In [ ]:
teamyearbyyearstats.TeamYearByYearStats(team_id='1610612764', ).get_data_frames()[0]

In [22]:
temp.get_data_frames()[0]

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612764,Chicago,Packers,1961-62,80,18,62,0.225,0,5,...,0,0,0,1802,1954,0,0,0,8874,9
1,1610612764,Chicago,Zephyrs,1962-63,80,25,55,0.313,0,5,...,0,0,0,1773,2065,0,0,0,8795,8
2,1610612764,Baltimore,Bullets,1963-64,80,31,49,0.388,0,4,...,0,0,0,1423,2073,0,0,0,8948,5
3,1610612764,Baltimore,Bullets,1964-65,80,37,43,0.463,0,3,...,0,0,0,1676,2119,0,0,0,9087,2
4,1610612764,Baltimore,Bullets,1965-66,80,38,42,0.475,0,2,...,0,0,0,1890,2199,0,0,0,9465,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,1610612764,Washington,Wizards,2018-19,82,32,50,0.390,11,4,...,794,2679,3473,2154,1701,683,1154,379,9350,10
58,1610612764,Washington,Wizards,2019-20,72,25,47,0.347,9,3,...,732,2295,3027,1801,1634,574,1020,309,8238,8
59,1610612764,Washington,Wizards,2020-21,72,34,38,0.472,8,3,...,697,2557,3254,1835,1555,528,1036,297,8398,3
60,1610612764,Washington,Wizards,2021-22,82,35,47,0.427,12,4,...,737,2798,3535,2052,1545,522,1077,406,8907,22
61,1610612764,Washington,Wizards,2022-23,44,18,26,0.409,12,3,...,410,1524,1934,1093,858,297,622,231,4921,23